# Import required libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV

# Introduction to the dataset

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
The training dataset has 8000 rows and 10 columns. In the table below, more information is written about the data    
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³ØªÙˆÙ†|ØªÙˆØ¶ÛŒØ­Ø§Øª|
|:------:|:---:|
|gender|Ø¬Ù†Ø³ÛŒØª (Ø³ØªÙˆÙ† Ù‡Ø¯Ù)|
|age|Ø¨Ø§Ø²Ù‡ Ø³Ù†ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|fullname|Ù†Ø§Ù…ÛŒ Ú©Ù‡ Ø¯Ø± Ù¾Ø±ÙˆÙØ§ÛŒÙ„ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ù†ÙˆØ´ØªÙ‡ Ø´Ø¯Ù‡ Ø§Ø³Øª |
|username|Ù†Ø§Ù… Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|biography|Ø¨ÛŒÙˆÚ¯Ø±Ø§ÙÛŒ Ø´Ø¨Ú©Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|follower_count|ØªØ¹Ø¯Ø§Ø¯ Ø¯Ù†Ø¨Ø§Ù„â€ŒÚ©Ù†Ù†Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ú©Ø§Ø±Ø¨Ø±|
|following_count|ØªØ¹Ø¯Ø§Ø¯ Ø§ÙØ±Ø§Ø¯ÛŒ Ú©Ù‡ Ú©Ø§Ø±Ø¨Ø± Ø±Ø§ Ø¯Ù†Ø¨Ø§Ù„ Ù…ÛŒâ€ŒÚ©Ù†Ù†Ø¯|
|is_business|Ú©Ø³Ø¨â€ŒÙˆÚ©Ø§Ø±ÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_verified|ØªØ§ÛŒÛŒØ¯ Ø´Ø¯Ù‡ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
|is_private|Ø®ØµÙˆØµÛŒ Ø¨ÙˆØ¯Ù† Ø­Ø³Ø§Ø¨ Ú©Ø§Ø±Ø¨Ø±ÛŒ|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    The age column is not a continuous variable; Rather, it shows the age groups. In the table below, we see how age is mapped
</font>
</p>


<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|Ø³Ù† ÙˆØ§Ù‚Ø¹ÛŒ Ú©Ø§Ø±Ø¨Ø±Ø§Ù†|Ø¹Ø¯Ø¯ Ù†Ú¯Ø§Ø´Øª Ø´Ø¯Ù‡|
|:------:|:---:|
|1|Ú©Ù…ØªØ± Ø§Ø² Û±Û¸ Ø³Ø§Ù„|
|2|Ø§Ø² Û±Û¹ ØªØ§ Û²Û¹ Ø³Ø§Ù„|
|3|Ø§Ø² Û³Û° ØªØ§ Û´Û° Ø³Ø§Ù„|
|4|Ø¨Ø§Ù„Ø§ØªØ± Ø§Ø² Û´Û° Ø³Ø§Ù„|
    
</font>
</div>
</center>

# Reading the dataset

In [3]:
train = pd.read_csv('../data/train_data.csv')

train

,gender,age,fullname,username,biography,follower_count,following_count,is_business,is_verified,is_private
0,man,2,Farshid,mr_gh_farshid,Ø¯Ø±Ø¯Ø§ Ú© Ø¯Ø± Ø§ÛŒÙ† Ø¨Ø§Ø¯ÛŒÙ‡ Ø¨Ø³ÛŒØ§Ø± Ø¯ÙˆÛŒØ¯ÛŒÙ…...\nGlory man...,1604.0,1407.0,0.0,0.0,0.0
1,woman,2,zahr@72,zahra.roozbahani72,"Ø®ÙˆØ§Ù‡ÛŒ Ú©Ù‡ Ø²Ú©ÙˆÚ† Ø¯Ø± Ø§Ù…Ø§Ù† Ø¨Ø±Ú¯Ø±Ø¯ÛŒ\nØ¨Ø§ÛŒØ¯ Ú©Ù‡ Ø¨Ù‡ Ø¬Ø§Ù† ,...",67.0,501.0,0.0,0.0,0.0
2,woman,2,ms farahnazâ™¥,___lady.farahnazi.__,"Having you, is all I wish for \nØ¯Ø§Ø´ØªÙ†ØªØŒ ØªÙ…Ø§Ù…Ù...",0.0,0.0,0.0,0.0,0.0
3,woman,1,Lena.mommy farzan,mommy.lena3361,Ø¯Ø±Ø¯ÙˆÙ†Ù‡ Ù…Ù† Ù„Ù†Ø§ Ú©ÙˆÚ†ÙˆÙ„Ùˆ,0.0,0.0,0.0,0.0,0.0
4,woman,2,Narsis Asadollahi,_l.aurora.l_,I am an animation student\nğŸ§ğŸ¼ğŸ¨âš“ï¸ğŸ¤ \n@general.m...,200.0,328.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7995,woman,2,ÅŠÎµgÉ¨Å‹,negiiin_bahrmandi,ï·½\nAllah IS Enough FoR Me?\nâ™¥ï¸?,0.0,0.0,0.0,0.0,0.0
7996,man,3,hğŸ—¯abdiğŸ—¯offÃ¬cial,h.abdi.official,Ø­Ù‚ÙˆÙ‚ÛŒ,0.0,0.0,1.0,0.0,0.0
7997,woman,2,âšœØ±ÙˆÛŒØ§ Ø§Ø­Ù…Ø¯ÛŒâšœ,roya.ahmadi.k,Ù…Ù‡Ù†Ø¯Ø³ ØµÙ†Ø§ÛŒØ¹ğŸ‘©â€ğŸ”§ğŸ­ Industrial engineer\nÙ…Ø¹Ù…Ø§Ø±ğŸ‘©â€ğŸ’»ğŸ‘·...,1260.0,1167.0,0.0,0.0,0.0
7998,man,3,Ù„Ø±Ø³ØªØ§Ù† &Ø®Ø±Ù… Ø§Ø¨Ø§Ø¯,erfanpouersif,khoramabad,0.0,0.0,0.0,0.0,0.0
7999,man,4,Sasan,sasan.zeinoddin,Sport ğŸƒğŸ»â€â™‚ï¸ğŸŠğŸ¼â€â™‚ï¸ğŸš´ğŸ½â€â™‚ï¸\nCivil EngineerğŸ—½\nKurdis...,0.0,0.0,0.0,0.0,0.0

# Preprocessing

In [5]:
x_train = train.drop('gender', axis=1)
y_train = train['gender']
y_train = y_train.map({'man': 0, 'woman': 1})

In [ ]:
tfidf = TfidfVectorizer()
tfidf.fit(x_train['fullname'] + ' ' + x_train['username'] + ' ' + x_train['biography'])

encoded_text_train = tfidf.transform(x_train['fullname'] + ' ' + x_train['username'] + ' ' + x_train['biography'])

g_s = GridSearchCV(RandomForestClassifier(), 
                {'n_estimators': [50, 75, 100], 'max_depth': [5, 10, 15, 20],
                    'min_samples_split':[1, 2, 3, 4]},
                    scoring='f1')
g_s.fit(encoded_text_train, y_train)
g_s.best_params_

{'max_depth': 20, 'min_samples_split': 2, 'n_estimators': 100}

In [9]:
model = RandomForestClassifier(n_estimators=100, max_depth=20, min_samples_split=3)
model.fit(encoded_text_train, y_train)

gender_by_text_train = model.predict(encoded_text_train)

x_train['gender_by_text'] = gender_by_text_train

print(f1_score(y_train, gender_by_text_train))

0.8744690891930156

In [10]:
x_train.drop(columns=['fullname', 'username', 'biography'], axis=1, inplace=True)

In [11]:
x_train

,age,follower_count,following_count,is_business,is_verified,is_private,gender_by_text
0,2,1604.0,1407.0,0.0,0.0,0.0,0
1,2,67.0,501.0,0.0,0.0,0.0,1
2,2,0.0,0.0,0.0,0.0,0.0,1
3,1,0.0,0.0,0.0,0.0,0.0,1
4,2,200.0,328.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...
7995,2,0.0,0.0,0.0,0.0,0.0,1
7996,3,0.0,0.0,1.0,0.0,0.0,0
7997,2,1260.0,1167.0,0.0,0.0,0.0,1
7998,3,0.0,0.0,0.0,0.0,0.0,1
7999,4,0.0,0.0,0.0,0.0,0.0,0

In [12]:
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.2, random_state=13)

x_train.reset_index(drop=True, inplace=True)
x_val.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)
y_val.reset_index(drop=True, inplace=True)

In [13]:
x_train.isna().sum()

age                0
follower_count     0
following_count    0
is_business        3
is_verified        0
is_private         0
gender_by_text     0
dtype: int64

In [14]:
x_train['is_business'].fillna(x_train['is_business'].mode()[0], inplace=True)

In [15]:
x_train.isna().sum()

age                0
follower_count     0
following_count    0
is_business        0
is_verified        0
is_private         0
gender_by_text     0
dtype: int64

# Modeling

In [17]:
g_s = GridSearchCV(RandomForestClassifier(), 
                {'n_estimators': [50, 75, 100], 'max_depth': [5, 10, 15, 20],
                    'min_samples_split':[1, 2, 3, 4]},
                    scoring='f1')

g_s.fit(x_train, y_train)

g_s.best_params_

{'max_depth': 5, 'min_samples_split': 2, 'n_estimators': 100}

In [18]:
model = RandomForestClassifier(n_estimators=50, max_depth=5, min_samples_split=1)

model.fit(x_train, y_train)

y_train_pred = model.predict(x_train)
y_val_pred = model.predict(x_val)

# Evaluate model

In [21]:
print(classification_report(y_train, y_train_pred))
print(classification_report(y_val, y_val_pred))

print(f1_score(y_train, y_train_pred))
print(f1_score(y_val, y_val_pred))

              precision    recall  f1-score   support

           0       0.92      0.83      0.87      3204
           1       0.84      0.92      0.88      3196

    accuracy                           0.87      6400
   macro avg       0.88      0.87      0.87      6400
weighted avg       0.88      0.87      0.87      6400

              precision    recall  f1-score   support

           0       0.90      0.80      0.85       796
           1       0.83      0.92      0.87       804

    accuracy                           0.86      1600
   macro avg       0.86      0.86      0.86      1600
weighted avg       0.86      0.86      0.86      1600

0.8805012680889154
0.8679245283018868